* {
    margin: 0;
    padding: 0;
    
}

.header_banner {
    background-color: #5F93C0;
    width: 100%;
    /* height: 810px; */
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
}

.banner_container {
    position: absolute;
    display: flex;
    top: 20px;
    background-color: white;
    height: 80px;
    width: 97.4%;
    border-radius: 22px;
    justify-content: space-between;
    align-items: center;
    
    
}

.web_title {
    margin-left: 40px;
    font-family: "Playwrite NZ", cursive;
}

.menu {
    display: flex;
    justify-content: space-evenly;

}

.menu_item {
    padding-left: 35px;
    font-family: "Playwrite NZ", cursive;

}

.menu_item a {
    text-decoration: none;
    color: black;
}

.try_scheduling {
   
    background-color: #283849;
    border-radius: 12px;
    padding-right: 30px;
    
    margin: -1px 15px;
}

.try_scheduling a {
    text-decoration: none;
    color: white;
    margin: auto;
}